

body,html
{
  background-color: #222222;
  overflow: hidden; 
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  color:aqua;
  scroll-behavior: smooth;
}
.planet
{
  position: relative;
  width: 100%;
  height: calc(100vh - 65px);
}
.space
{
  height: 65px;
}
header
{
  width: 100%;
}

.navitems
{
  font-size: 20px;
}

.welcome
{
  width: 100%;
  height: calc(100vh - 65px);
  color:black;
  font-size: 20px;
  background-color: #00ffea;
}
#PlacePlanet,.planetcontetn
{
  position: absolute;
  width: 100%;
}
.lista
{
  font-size: 20px;
  border: 3px solid rgb(0, 255, 221);
  border-radius: 10px;
  width: 20%;
  max-height: calc(100vh - 65px);
  overflow: auto;
}
.ListElement:hover
{
  background-color: rgba(0, 0, 0, 0.342);
  transition: 500ms;
  color: rgb(0, 255, 85);
}